name: Commit CI

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 拉取代码
      - name: Checkout
        uses: actions/checkout@v6

      # 装 bun.js
      - name: Install bun.js
        uses: oven-sh/setup-bun@v2

      # 安装 go
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.24.0"
          check-latest: true

      - name: Setup go cache
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
 
      - name: Build frontend
        run: |
          cd frontend
          bun install
          bun run build
          cd ..

      # 编译
      - name: Build
        run: |
          go mod tidy
          go env -w GOARCH=amd64
          echo "编译 windows 版本"
          go env -w GOOS=windows
          go build -o ./bin/rose.exe

      # 上传到 Artifact
      - name: Upload windows
        uses: actions/upload-artifact@v4
        with:
          name: rose
          path: ./bin/
